*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,
body{
  width: 100%;
  height: 100%;
}
body{

  background-color: #111;
}
.card{
  background-color: crimson;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.navbar{
  background-color: teal;
  padding: 10px;
  margin: 20px;  
}